  @keyframes dropletters {
    0% {transform: translateY(-100px);}
    25% {opacity: 0.1; transform: translateY(-50px);}
    100% {opacity: 1; transform: translateY(0px);}
  }

  @keyframes raiseletters {
    0% {transform: translateY(100px);}
    25% {opacity: 0.1; transform: translateY(50px);}
    100% {opacity: 1; transform: translateY(0px);}
  }

  @keyframes scalefadedots {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(3); opacity: 0; }
  }
  @keyframes rotatecircles {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(180deg);}
  }
  #circles {
    opacity: 0;
    animation: raiseletters 1s ease-out 1.6s 1 normal forwards;
    transform-origin: 85px 10px;
  }
  #right-dot {
    opacity: 0;
    transform-origin: 4px 10px;
    animation: scalefadedots 1.5s ease-out 3s infinite normal forwards;
  }
  #left-dot {
    opacity: 0;
    transform-origin: 167px 10px;
    animation: scalefadedots 1.5s ease-out 3s infinite normal forwards;
  }
  /*#dots {
    opacity: 0;
    animation: fadedots 2s ease 3s infinite;
  }*/
  #letter-a-overlay, #letter-a, #letter-p-overlay, #letter-t, #letter-i, #letter-v {
    opacity: 0;
  }
  #letter-a-overlay, #letter-a {
    position: relative;
    animation: dropletters 1s ease-out 0s 1 normal forwards;
  }
  #letter-p-overlay, #letter-p {
    animation: raiseletters 1s ease-out 0.3s 1 normal forwards;
  }
  #letter-t {
    animation: dropletters 1s ease-out 0.6s 1 normal forwards;
  }
  #letter-i {
    animation: raiseletters 1s ease-out 0.9s 1 normal forwards;
  }
  #letter-v {
    animation: dropletters 1s ease-out 1.2s 1 normal forwards;
  }
  .svg-container {

  }
